<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE generatorConfiguration
  PUBLIC "-//mybatis.org//DTD MyBatis Generator Configuration 1.0//EN"
  "http://mybatis.org/dtd/mybatis-generator-config_1_0.dtd">
 
<generatorConfiguration>
  <!--数据库驱动 -->
<!--   <classPathEntry location="D:/MvnRespostory/mysql/mysql-connector-java/5.1.41/mysql-connector-java-5.1.41.jar" /> -->
  <classPathEntry location="/var/lib/jenkins/.m2/repository/mysql/mysql-connector-java/5.1.41/mysql-connector-java-5.1.41.jar" />
  <context id="context">
    <commentGenerator>
      <property name="suppressDate" value="true" />
      <property name="suppressAllComments" value="true" />
    </commentGenerator>
    <jdbcConnection driverClass="com.mysql.jdbc.Driver" connectionURL="jdbc:mysql://47.94.161.88:4000/fcwebsite-dev"
      userId="root" password="root" />
    <javaModelGenerator targetPackage="com.feelcolor.website.model.po" targetProject="fcWebsite">
      <property name="enableSubPackages" value="true" />
      <property name="trimStrings" value="true" />
    </javaModelGenerator>
    <sqlMapGenerator targetPackage="com.feelcolor.website.sql" targetProject="fcWebsite">
      <property name="enableSubPackages" value="true" />
    </sqlMapGenerator>
    <javaClientGenerator targetPackage="com.feelcolor.website.dao.mapper" targetProject="fcWebsite" type="XMLMAPPER">
      <property name="enableSubPackages" value="true" />
    </javaClientGenerator>
    <!--生成对应表及类名 -->
    <table tableName="aliPay_notify_record" enableCountByExample="false" enableDeleteByExample="false" enableUpdateByExample="false" 
      enableSelectByExample="false"></table>
  </context>
</generatorConfiguration>