<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
    xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <title th:text="#{websiteTitle}"></title>
    <link rel="stylesheet" th:href="@{/js/bootstrap-3.3.7/css/bootstrap.min.css}" />
    <link rel="stylesheet" th:href="@{/css/fc.css}" />
    
    <script th:src="@{/js/jquery-3.2.1.min.js}"></script>
    <script th:src="@{/js/bootstrap-3.3.7/js/bootstrap.min.js}"></script>
    
    <style>
    .bg{
        background-size:cover;
        background:url('../images/login/login_bg.jpg') no-repeat center center;
        min-height:850px;
        position:relative;
    }
    .header-text{
        color:#fff;
        padding:250px 0;
        position:relative;
        z-index: 1;
    }
        .header-text-inner{
            text-align:right;
            border-right:2px solid #fff;
            padding-right:35px;
        }

    </style>

</head>
<body>
<!-- Static navbar -->
    <div th:include="nav :: nav"></div>

    <div class="bg">
        <div class="header-text">
            <div class="col-sm-6 fix-right">
                <div class="header-text-inner">
                    <h1>登 录</h1>
                    <div class="row">
                        <div class="col-sm-3  pull-right input-group">
                            <span class="input-group-addon">账号</span>
                            <input type="text" class="form-control" placeholder="" style="width: 180px">
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-3  pull-right input-group">
                            <span class="input-group-addon">密码</span>
                            <input type="password" class="form-control" placeholder="" style="width: 180px">
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-offset-2 col-sm-10">
                            <div class="checkbox">
                                <label>
                                    <input type="checkbox">请记住我
                                </label>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <a  href="/login/registerView" class="btn btn-default">注册<i class="icon icon-angle-right"></i></a>
                        <a id="t" class="btn btn-success">登录<i class="icon icon-angle-right"></i></a>
                    </div>
                </div>
            </div>
            <div class="col-sm-6">
                <h2>Template Eden</h2>
             <ul>
                 <li>Start Bootstrap can help you build better websites using the Bootstrap CSS </li>
                 <li>framework!</li>
                 <li>Just download your template and start going, no strings attached!</li>
             </ul>

            </div>
        </div>


    </div>

    <script>
    $("#t").on("click",a(1))

    function y=myfunction(a,b){
     alert(c);
    }
    </script>
    
</body>
</html>