<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
  <body>
    <div th:fragment="footer">
        <footer class="bottom">
          <div class="container footer">
             <div class="row">
                <div class="col-xs-12 col-sm-3 footer-logo-wrap"><a href="http://www.dji.com/cn"><img style="width:183px" class="footer-logo" src="//www2.djicdn.com/assets/images/logo-text@2x-2c119700043f76d6efac84a23a663632.png"/></a></div>
             </div>
              <div class="row">粤ICP备XXXXXXXXX号-1网站问题反馈<a href="/">点击这里</a></div>
              <div class="row">Copyright © 2017 FeelColor 版权所有 隐私权政策 使用条款  网站地图   </div>
              <div class="row">本网站仅用于学习 本网站仅用于学习 本网站仅用于学习 本网站仅用于学习</div>
          </div>
        </footer>
    </div>
  </body>
</html> 