<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
  <body>
    <div th:fragment="footer">
        <footer class="bottom">
          <div class="container footer">
             <div class="row">
                <div class="col-xs-12 col-sm-3 footer-logo-wrap"><a href="http://www.dji.com/cn"><img style="width:183px" class="footer-logo" src="//www2.djicdn.com/assets/images/logo-text@2x-2c119700043f76d6efac84a23a663632.png"/></a></div>
             </div>
              <div class="row">粤ICP备15057791号-1网站问题反馈<a href="/">点击这里</a></div>
              <div class="row">Copyright © 2017 DJI 大疆创新 版权所有 隐私权政策 使用条款 疆湖名录 网站地图   </div>
              <div class="row">本网站直接或间接向消费者推销商品或者服务的商业宣传均属于“广告”（包装及参数、售后保障等商品信息除外）</div>
          </div>
        </footer>
    </div>
  </body>
</html> 