<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
    xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <title th:text="#{websiteTitle}"></title>
    <link rel="stylesheet" th:href="@{/js/bootstrap-3.3.7/css/bootstrap.min.css}" />
    <link rel="stylesheet" th:href="@{/css/fc.css}" />
    
    <script th:src="@{/js/jquery-3.2.1.min.js}"></script>
    <script th:src="@{/js/bootstrap-3.3.7/js/bootstrap.min.js}"></script>
    
    <style>
   .banner{
   height:300px;
   background:url('../images/support/support-banner.jpg') center center no-repeat;
   background-color:#edeff3
   }
   .support-s1 .item {
    display: inline-block;
    width: 155px;
    height: 155px;
    margin-left: 18px;
    margin-right: 18px;
    margin-bottom: 30px;
    padding-top: 20px;
    padding-left: 10px;
    padding-right: 10px;
    border: solid 1px #707473;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -ms-border-radius: 3px;
    -o-border-radius: 3px;
    border-radius: 3px;
    text-align: center;
    vertical-align: top;
}

.support-s1 .item:hover {
    background-color: #f7f8f9;
    color: #707473
}

.support-s1 .item .cover, .support-s1 .item img {
    width: 60px;
    height: 60px
}

.support-s1 .item .cover path {
    width: 100%;
    height: 100%
}

.support-s1 .item h4 {
    font-size: 14px;
    margin-top: 10px;
    text-transform: uppercase;
    color: #707473
}
    </style>

</head>
<body>
<!-- Static navbar -->
    <div th:include="nav :: nav"></div> 

     <div class="banner">
     </div>
     <section class="support-s1">
     <div class="container">
        <div class="row">
            <div class="col-sm-6 col-sm-offset-3" style="text-align:center;margin-top: 30px;margin-bottom: 30px"><h3 class="title">欢迎使用 FeelColor 产品支持</h3><p class="desc">我们很高兴为您提供帮助。</p></div>
        </div>
        <div class="row">
                <div class="tem-box">
                    <a href="javascript:void(0)" onclick="a()" class="item ga-data" ><img
                        alt="产品支持" 
                        src="../images/support/support1.png" />
                        <h4>产品支持</h4></a><a href="/support"
                        class="item ga-data"><img alt=""
                        src="../images/support/support2.png" />
                        <h4>购买指南</h4></a><a href="/support"
                        class="item ga-data"><img alt=""
                        src="../images/support/support3.png" />
                        <h4>维修服务</h4></a><a href="/support"
                        class="item ga-data"><img alt=""
                        src="../images/support/support4.png" />
                        <h4>售后服务政策</h4></a><a href="/support"
                        class="item ga-data"><img alt=""
                        src="../images/support/support5.png" />
                        <h4>在线客服</h4></a> <a href="/support"
                        class="item ga-data"><img alt=""
                        src="../images/support/support6.png" />
                        <h4>公众号</h4></a>

                </div>
            </div>
            <hr style="FILTER: progid:DXImageTransform.Microsoft.Glow(color=#987cb9,strength=10)" color="#987cb9" SIZE="1"></hr>
            <div class="row">
                    <div id="detail1" class="phone-detail detail"
                        style="text-align: center">
                        <div class="row">
                            <div class="col-sm-3">
                                <p class="title">中国</p>
                            </div>
                            <div class="col-sm-3">
                                <p>
                                    <a href="tel:+86 400 700 0303">+86
                                        400 700 0303</a>
                                </p>
                            </div>
                            <div class="col-sm-6">
                                <p>周一至周日
                                    9:00-12:30；14:00-21:00（北京时间）</p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-3">
                                <p class="title">中国香港</p>
                            </div>
                            <div class="col-sm-3">
                                <p>
                                    <a href="tel:+852 3060 6038">+852
                                        3060 6038</a>
                                </p>
                            </div>
                            <div class="col-sm-6">
                                <p>周一至周日
                                    9:00-12:30；14:00-21:00（北京时间）</p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-3">
                                <p class="title">中国澳门</p>
                            </div>
                            <div class="col-sm-3">
                                <p>
                                    <a href="tel:+853 6262 1485">+853
                                        6262 1485</a>
                                </p>
                            </div>
                            <div class="col-sm-6">
                                <p>周一至周日
                                    9:00-12:30；14:00-21:00（北京时间）</p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-3">
                                <p class="title">中国台湾</p>
                            </div>
                            <div class="col-sm-3">
                                <p>
                                    <a href="tel:+886 2 8723 0819">+886
                                        2 8723 0819</a>
                                </p>
                            </div>
                            <div class="col-sm-6">
                                <p>周一至周日
                                    9:00-12:30；14:00-21:00（北京时间）</p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-3">
                                <p class="title">美国及加拿大</p>
                            </div>
                            <div class="col-sm-3">
                                <p>
                                    <a href="tel:+1 818 235 0789">+1
                                        818 235 0789</a>
                                </p>
                            </div>
                            <div class="col-sm-6">
                                <p>周一至周五 9:00-17:00 ( 太平洋标准时间 )</p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-3">
                                <p class="title">德国</p>
                            </div>
                            <div class="col-sm-3">
                                <p>
                                    <a href="tel:+49  9771 1773000">+49
                                        9771 1773000</a>
                                </p>
                            </div>
                            <div class="col-sm-6">
                                <p>周一至周五 9:00-15:00 ( 欧洲中部时间 )</p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-3">
                                <p class="title">荷兰</p>
                            </div>
                            <div class="col-sm-3">
                                <p>
                                    <a href="tel:+31 20 654 5202">+31
                                        20 654 5202</a>
                                </p>
                            </div>
                            <div class="col-sm-6">
                                <p>周一至周五 10:00-19:00 ( 欧洲中部时间 )</p>
                            </div>
                        </div>
                    </div>
                </div>
     </div>
    </section>
    
       <!-- Static footer -->
    <div th:include="footer :: footer"></div> 
    
    <script>
    $(function(){
    	
    })
     function a(){
    	 $("#detail1").show();
    	 
     }
    </script>
    
</body>
</html>