<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.feelcolor.website.dao.mapper.DeviceAgentRelMapper" >
  <resultMap id="BaseResultMap" type="com.feelcolor.website.model.po.DeviceAgentRel" >
    <id column="device_id" property="deviceId" jdbcType="VARCHAR" />
    <result column="device_name" property="deviceName" jdbcType="VARCHAR" />
    <result column="agent_id" property="agentId" jdbcType="INTEGER" />
    <result column="bind_time" property="bindTime" jdbcType="TIMESTAMP" />
    <result column="device_type" property="deviceType" jdbcType="VARCHAR" />
    <result column="grouparea_id" property="groupareaId" jdbcType="INTEGER" />
    <result column="Province_id" property="provinceId" jdbcType="INTEGER" />
    <result column="city_id" property="cityId" jdbcType="INTEGER" />
    <result column="county_id" property="countyId" jdbcType="INTEGER" />
    <result column="detailaddress" property="detailaddress" jdbcType="VARCHAR" />
    <result column="trade_id" property="tradeId" jdbcType="CHAR" />
    <result column="longitude" property="longitude" jdbcType="DECIMAL" />
    <result column="latitude" property="latitude" jdbcType="DECIMAL" />
    <result column="pedestrianvolume" property="pedestrianvolume" jdbcType="INTEGER" />
    <result column="floorspace" property="floorspace" jdbcType="DECIMAL" />
    <result column="customer_type" property="customerType" jdbcType="VARCHAR" />
    <result column="fixposition" property="fixposition" jdbcType="VARCHAR" />
    <result column="createtime" property="createtime" jdbcType="TIMESTAMP" />
    <result column="lastupdatetime" property="lastupdatetime" jdbcType="TIMESTAMP" />
    <result column="rzbh" property="rzbh" jdbcType="VARCHAR" />
    <result column="crm_sync_time" property="crmSyncTime" jdbcType="TIMESTAMP" />
    <result column="device_frozen_status" property="deviceFrozenStatus" jdbcType="VARCHAR" />
    <result column="screen_install_id" property="screenInstallId" jdbcType="INTEGER" />
    <result column="screen_install_name" property="screenInstallName" jdbcType="VARCHAR" />
    <result column="screen_install_job_num" property="screenInstallJobNum" jdbcType="VARCHAR" />
    <result column="screen_install_mobile_num" property="screenInstallMobileNum" jdbcType="VARCHAR" />
    <result column="operator_user_id" property="operatorUserId" jdbcType="INTEGER" />
    <result column="operator_name" property="operatorName" jdbcType="VARCHAR" />
    <result column="operator_job_num" property="operatorJobNum" jdbcType="VARCHAR" />
    <result column="operator_mobile_num" property="operatorMobileNum" jdbcType="VARCHAR" />
    <result column="brush_time" property="brushTime" jdbcType="TIMESTAMP" />
    <result column="agent_dock_name" property="agentDockName" jdbcType="VARCHAR" />
    <result column="agent_wechat" property="agentWechat" jdbcType="VARCHAR" />
    <result column="agent_dock_mobile" property="agentDockMobile" jdbcType="VARCHAR" />
    <result column="last_edit_time" property="lastEditTime" jdbcType="TIMESTAMP" />
    <result column="import_remark" property="importRemark" jdbcType="VARCHAR" />
    <result column="complete_status" property="completeStatus" jdbcType="INTEGER" />
    <result column="device_version" property="deviceVersion" jdbcType="VARCHAR" />
    <result column="last_heart_datetime" property="lastHeartDatetime" jdbcType="TIMESTAMP" />
    <result column="model_shop_flag" property="modelShopFlag" jdbcType="INTEGER" />
  </resultMap>
  <sql id="Base_Column_List" >
    device_id, device_name, agent_id, bind_time, device_type, grouparea_id, Province_id, 
    city_id, county_id, detailaddress, trade_id, longitude, latitude, pedestrianvolume, 
    floorspace, customer_type, fixposition, createtime, lastupdatetime, rzbh, crm_sync_time, 
    device_frozen_status, screen_install_id, screen_install_name, screen_install_job_num, 
    screen_install_mobile_num, operator_user_id, operator_name, operator_job_num, operator_mobile_num, 
    brush_time, agent_dock_name, agent_wechat, agent_dock_mobile, last_edit_time, import_remark, 
    complete_status, device_version, last_heart_datetime, model_shop_flag
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from device_agent_rel
    where device_id = #{deviceId,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from device_agent_rel
    where device_id = #{deviceId,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.feelcolor.website.model.po.DeviceAgentRel" >
    insert into device_agent_rel (device_id, device_name, agent_id, 
      bind_time, device_type, grouparea_id, 
      Province_id, city_id, county_id, 
      detailaddress, trade_id, longitude, 
      latitude, pedestrianvolume, floorspace, 
      customer_type, fixposition, createtime, 
      lastupdatetime, rzbh, crm_sync_time, 
      device_frozen_status, screen_install_id, screen_install_name, 
      screen_install_job_num, screen_install_mobile_num, 
      operator_user_id, operator_name, operator_job_num, 
      operator_mobile_num, brush_time, agent_dock_name, 
      agent_wechat, agent_dock_mobile, last_edit_time, 
      import_remark, complete_status, device_version, 
      last_heart_datetime, model_shop_flag)
    values (#{deviceId,jdbcType=VARCHAR}, #{deviceName,jdbcType=VARCHAR}, #{agentId,jdbcType=INTEGER}, 
      #{bindTime,jdbcType=TIMESTAMP}, #{deviceType,jdbcType=VARCHAR}, #{groupareaId,jdbcType=INTEGER}, 
      #{provinceId,jdbcType=INTEGER}, #{cityId,jdbcType=INTEGER}, #{countyId,jdbcType=INTEGER}, 
      #{detailaddress,jdbcType=VARCHAR}, #{tradeId,jdbcType=CHAR}, #{longitude,jdbcType=DECIMAL}, 
      #{latitude,jdbcType=DECIMAL}, #{pedestrianvolume,jdbcType=INTEGER}, #{floorspace,jdbcType=DECIMAL}, 
      #{customerType,jdbcType=VARCHAR}, #{fixposition,jdbcType=VARCHAR}, #{createtime,jdbcType=TIMESTAMP}, 
      #{lastupdatetime,jdbcType=TIMESTAMP}, #{rzbh,jdbcType=VARCHAR}, #{crmSyncTime,jdbcType=TIMESTAMP}, 
      #{deviceFrozenStatus,jdbcType=VARCHAR}, #{screenInstallId,jdbcType=INTEGER}, #{screenInstallName,jdbcType=VARCHAR}, 
      #{screenInstallJobNum,jdbcType=VARCHAR}, #{screenInstallMobileNum,jdbcType=VARCHAR}, 
      #{operatorUserId,jdbcType=INTEGER}, #{operatorName,jdbcType=VARCHAR}, #{operatorJobNum,jdbcType=VARCHAR}, 
      #{operatorMobileNum,jdbcType=VARCHAR}, #{brushTime,jdbcType=TIMESTAMP}, #{agentDockName,jdbcType=VARCHAR}, 
      #{agentWechat,jdbcType=VARCHAR}, #{agentDockMobile,jdbcType=VARCHAR}, #{lastEditTime,jdbcType=TIMESTAMP}, 
      #{importRemark,jdbcType=VARCHAR}, #{completeStatus,jdbcType=INTEGER}, #{deviceVersion,jdbcType=VARCHAR}, 
      #{lastHeartDatetime,jdbcType=TIMESTAMP}, #{modelShopFlag,jdbcType=INTEGER})
  </insert>
  <insert id="insertSelective" parameterType="com.feelcolor.website.model.po.DeviceAgentRel" >
    insert into device_agent_rel
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="deviceId != null" >
        device_id,
      </if>
      <if test="deviceName != null" >
        device_name,
      </if>
      <if test="agentId != null" >
        agent_id,
      </if>
      <if test="bindTime != null" >
        bind_time,
      </if>
      <if test="deviceType != null" >
        device_type,
      </if>
      <if test="groupareaId != null" >
        grouparea_id,
      </if>
      <if test="provinceId != null" >
        Province_id,
      </if>
      <if test="cityId != null" >
        city_id,
      </if>
      <if test="countyId != null" >
        county_id,
      </if>
      <if test="detailaddress != null" >
        detailaddress,
      </if>
      <if test="tradeId != null" >
        trade_id,
      </if>
      <if test="longitude != null" >
        longitude,
      </if>
      <if test="latitude != null" >
        latitude,
      </if>
      <if test="pedestrianvolume != null" >
        pedestrianvolume,
      </if>
      <if test="floorspace != null" >
        floorspace,
      </if>
      <if test="customerType != null" >
        customer_type,
      </if>
      <if test="fixposition != null" >
        fixposition,
      </if>
      <if test="createtime != null" >
        createtime,
      </if>
      <if test="lastupdatetime != null" >
        lastupdatetime,
      </if>
      <if test="rzbh != null" >
        rzbh,
      </if>
      <if test="crmSyncTime != null" >
        crm_sync_time,
      </if>
      <if test="deviceFrozenStatus != null" >
        device_frozen_status,
      </if>
      <if test="screenInstallId != null" >
        screen_install_id,
      </if>
      <if test="screenInstallName != null" >
        screen_install_name,
      </if>
      <if test="screenInstallJobNum != null" >
        screen_install_job_num,
      </if>
      <if test="screenInstallMobileNum != null" >
        screen_install_mobile_num,
      </if>
      <if test="operatorUserId != null" >
        operator_user_id,
      </if>
      <if test="operatorName != null" >
        operator_name,
      </if>
      <if test="operatorJobNum != null" >
        operator_job_num,
      </if>
      <if test="operatorMobileNum != null" >
        operator_mobile_num,
      </if>
      <if test="brushTime != null" >
        brush_time,
      </if>
      <if test="agentDockName != null" >
        agent_dock_name,
      </if>
      <if test="agentWechat != null" >
        agent_wechat,
      </if>
      <if test="agentDockMobile != null" >
        agent_dock_mobile,
      </if>
      <if test="lastEditTime != null" >
        last_edit_time,
      </if>
      <if test="importRemark != null" >
        import_remark,
      </if>
      <if test="completeStatus != null" >
        complete_status,
      </if>
      <if test="deviceVersion != null" >
        device_version,
      </if>
      <if test="lastHeartDatetime != null" >
        last_heart_datetime,
      </if>
      <if test="modelShopFlag != null" >
        model_shop_flag,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="deviceId != null" >
        #{deviceId,jdbcType=VARCHAR},
      </if>
      <if test="deviceName != null" >
        #{deviceName,jdbcType=VARCHAR},
      </if>
      <if test="agentId != null" >
        #{agentId,jdbcType=INTEGER},
      </if>
      <if test="bindTime != null" >
        #{bindTime,jdbcType=TIMESTAMP},
      </if>
      <if test="deviceType != null" >
        #{deviceType,jdbcType=VARCHAR},
      </if>
      <if test="groupareaId != null" >
        #{groupareaId,jdbcType=INTEGER},
      </if>
      <if test="provinceId != null" >
        #{provinceId,jdbcType=INTEGER},
      </if>
      <if test="cityId != null" >
        #{cityId,jdbcType=INTEGER},
      </if>
      <if test="countyId != null" >
        #{countyId,jdbcType=INTEGER},
      </if>
      <if test="detailaddress != null" >
        #{detailaddress,jdbcType=VARCHAR},
      </if>
      <if test="tradeId != null" >
        #{tradeId,jdbcType=CHAR},
      </if>
      <if test="longitude != null" >
        #{longitude,jdbcType=DECIMAL},
      </if>
      <if test="latitude != null" >
        #{latitude,jdbcType=DECIMAL},
      </if>
      <if test="pedestrianvolume != null" >
        #{pedestrianvolume,jdbcType=INTEGER},
      </if>
      <if test="floorspace != null" >
        #{floorspace,jdbcType=DECIMAL},
      </if>
      <if test="customerType != null" >
        #{customerType,jdbcType=VARCHAR},
      </if>
      <if test="fixposition != null" >
        #{fixposition,jdbcType=VARCHAR},
      </if>
      <if test="createtime != null" >
        #{createtime,jdbcType=TIMESTAMP},
      </if>
      <if test="lastupdatetime != null" >
        #{lastupdatetime,jdbcType=TIMESTAMP},
      </if>
      <if test="rzbh != null" >
        #{rzbh,jdbcType=VARCHAR},
      </if>
      <if test="crmSyncTime != null" >
        #{crmSyncTime,jdbcType=TIMESTAMP},
      </if>
      <if test="deviceFrozenStatus != null" >
        #{deviceFrozenStatus,jdbcType=VARCHAR},
      </if>
      <if test="screenInstallId != null" >
        #{screenInstallId,jdbcType=INTEGER},
      </if>
      <if test="screenInstallName != null" >
        #{screenInstallName,jdbcType=VARCHAR},
      </if>
      <if test="screenInstallJobNum != null" >
        #{screenInstallJobNum,jdbcType=VARCHAR},
      </if>
      <if test="screenInstallMobileNum != null" >
        #{screenInstallMobileNum,jdbcType=VARCHAR},
      </if>
      <if test="operatorUserId != null" >
        #{operatorUserId,jdbcType=INTEGER},
      </if>
      <if test="operatorName != null" >
        #{operatorName,jdbcType=VARCHAR},
      </if>
      <if test="operatorJobNum != null" >
        #{operatorJobNum,jdbcType=VARCHAR},
      </if>
      <if test="operatorMobileNum != null" >
        #{operatorMobileNum,jdbcType=VARCHAR},
      </if>
      <if test="brushTime != null" >
        #{brushTime,jdbcType=TIMESTAMP},
      </if>
      <if test="agentDockName != null" >
        #{agentDockName,jdbcType=VARCHAR},
      </if>
      <if test="agentWechat != null" >
        #{agentWechat,jdbcType=VARCHAR},
      </if>
      <if test="agentDockMobile != null" >
        #{agentDockMobile,jdbcType=VARCHAR},
      </if>
      <if test="lastEditTime != null" >
        #{lastEditTime,jdbcType=TIMESTAMP},
      </if>
      <if test="importRemark != null" >
        #{importRemark,jdbcType=VARCHAR},
      </if>
      <if test="completeStatus != null" >
        #{completeStatus,jdbcType=INTEGER},
      </if>
      <if test="deviceVersion != null" >
        #{deviceVersion,jdbcType=VARCHAR},
      </if>
      <if test="lastHeartDatetime != null" >
        #{lastHeartDatetime,jdbcType=TIMESTAMP},
      </if>
      <if test="modelShopFlag != null" >
        #{modelShopFlag,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.feelcolor.website.model.po.DeviceAgentRel" >
    update device_agent_rel
    <set >
      <if test="deviceName != null" >
        device_name = #{deviceName,jdbcType=VARCHAR},
      </if>
      <if test="agentId != null" >
        agent_id = #{agentId,jdbcType=INTEGER},
      </if>
      <if test="bindTime != null" >
        bind_time = #{bindTime,jdbcType=TIMESTAMP},
      </if>
      <if test="deviceType != null" >
        device_type = #{deviceType,jdbcType=VARCHAR},
      </if>
      <if test="groupareaId != null" >
        grouparea_id = #{groupareaId,jdbcType=INTEGER},
      </if>
      <if test="provinceId != null" >
        Province_id = #{provinceId,jdbcType=INTEGER},
      </if>
      <if test="cityId != null" >
        city_id = #{cityId,jdbcType=INTEGER},
      </if>
      <if test="countyId != null" >
        county_id = #{countyId,jdbcType=INTEGER},
      </if>
      <if test="detailaddress != null" >
        detailaddress = #{detailaddress,jdbcType=VARCHAR},
      </if>
      <if test="tradeId != null" >
        trade_id = #{tradeId,jdbcType=CHAR},
      </if>
      <if test="longitude != null" >
        longitude = #{longitude,jdbcType=DECIMAL},
      </if>
      <if test="latitude != null" >
        latitude = #{latitude,jdbcType=DECIMAL},
      </if>
      <if test="pedestrianvolume != null" >
        pedestrianvolume = #{pedestrianvolume,jdbcType=INTEGER},
      </if>
      <if test="floorspace != null" >
        floorspace = #{floorspace,jdbcType=DECIMAL},
      </if>
      <if test="customerType != null" >
        customer_type = #{customerType,jdbcType=VARCHAR},
      </if>
      <if test="fixposition != null" >
        fixposition = #{fixposition,jdbcType=VARCHAR},
      </if>
      <if test="createtime != null" >
        createtime = #{createtime,jdbcType=TIMESTAMP},
      </if>
      <if test="lastupdatetime != null" >
        lastupdatetime = #{lastupdatetime,jdbcType=TIMESTAMP},
      </if>
      <if test="rzbh != null" >
        rzbh = #{rzbh,jdbcType=VARCHAR},
      </if>
      <if test="crmSyncTime != null" >
        crm_sync_time = #{crmSyncTime,jdbcType=TIMESTAMP},
      </if>
      <if test="deviceFrozenStatus != null" >
        device_frozen_status = #{deviceFrozenStatus,jdbcType=VARCHAR},
      </if>
      <if test="screenInstallId != null" >
        screen_install_id = #{screenInstallId,jdbcType=INTEGER},
      </if>
      <if test="screenInstallName != null" >
        screen_install_name = #{screenInstallName,jdbcType=VARCHAR},
      </if>
      <if test="screenInstallJobNum != null" >
        screen_install_job_num = #{screenInstallJobNum,jdbcType=VARCHAR},
      </if>
      <if test="screenInstallMobileNum != null" >
        screen_install_mobile_num = #{screenInstallMobileNum,jdbcType=VARCHAR},
      </if>
      <if test="operatorUserId != null" >
        operator_user_id = #{operatorUserId,jdbcType=INTEGER},
      </if>
      <if test="operatorName != null" >
        operator_name = #{operatorName,jdbcType=VARCHAR},
      </if>
      <if test="operatorJobNum != null" >
        operator_job_num = #{operatorJobNum,jdbcType=VARCHAR},
      </if>
      <if test="operatorMobileNum != null" >
        operator_mobile_num = #{operatorMobileNum,jdbcType=VARCHAR},
      </if>
      <if test="brushTime != null" >
        brush_time = #{brushTime,jdbcType=TIMESTAMP},
      </if>
      <if test="agentDockName != null" >
        agent_dock_name = #{agentDockName,jdbcType=VARCHAR},
      </if>
      <if test="agentWechat != null" >
        agent_wechat = #{agentWechat,jdbcType=VARCHAR},
      </if>
      <if test="agentDockMobile != null" >
        agent_dock_mobile = #{agentDockMobile,jdbcType=VARCHAR},
      </if>
      <if test="lastEditTime != null" >
        last_edit_time = #{lastEditTime,jdbcType=TIMESTAMP},
      </if>
      <if test="importRemark != null" >
        import_remark = #{importRemark,jdbcType=VARCHAR},
      </if>
      <if test="completeStatus != null" >
        complete_status = #{completeStatus,jdbcType=INTEGER},
      </if>
      <if test="deviceVersion != null" >
        device_version = #{deviceVersion,jdbcType=VARCHAR},
      </if>
      <if test="lastHeartDatetime != null" >
        last_heart_datetime = #{lastHeartDatetime,jdbcType=TIMESTAMP},
      </if>
      <if test="modelShopFlag != null" >
        model_shop_flag = #{modelShopFlag,jdbcType=INTEGER},
      </if>
    </set>
    where device_id = #{deviceId,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.feelcolor.website.model.po.DeviceAgentRel" >
    update device_agent_rel
    set device_name = #{deviceName,jdbcType=VARCHAR},
      agent_id = #{agentId,jdbcType=INTEGER},
      bind_time = #{bindTime,jdbcType=TIMESTAMP},
      device_type = #{deviceType,jdbcType=VARCHAR},
      grouparea_id = #{groupareaId,jdbcType=INTEGER},
      Province_id = #{provinceId,jdbcType=INTEGER},
      city_id = #{cityId,jdbcType=INTEGER},
      county_id = #{countyId,jdbcType=INTEGER},
      detailaddress = #{detailaddress,jdbcType=VARCHAR},
      trade_id = #{tradeId,jdbcType=CHAR},
      longitude = #{longitude,jdbcType=DECIMAL},
      latitude = #{latitude,jdbcType=DECIMAL},
      pedestrianvolume = #{pedestrianvolume,jdbcType=INTEGER},
      floorspace = #{floorspace,jdbcType=DECIMAL},
      customer_type = #{customerType,jdbcType=VARCHAR},
      fixposition = #{fixposition,jdbcType=VARCHAR},
      createtime = #{createtime,jdbcType=TIMESTAMP},
      lastupdatetime = #{lastupdatetime,jdbcType=TIMESTAMP},
      rzbh = #{rzbh,jdbcType=VARCHAR},
      crm_sync_time = #{crmSyncTime,jdbcType=TIMESTAMP},
      device_frozen_status = #{deviceFrozenStatus,jdbcType=VARCHAR},
      screen_install_id = #{screenInstallId,jdbcType=INTEGER},
      screen_install_name = #{screenInstallName,jdbcType=VARCHAR},
      screen_install_job_num = #{screenInstallJobNum,jdbcType=VARCHAR},
      screen_install_mobile_num = #{screenInstallMobileNum,jdbcType=VARCHAR},
      operator_user_id = #{operatorUserId,jdbcType=INTEGER},
      operator_name = #{operatorName,jdbcType=VARCHAR},
      operator_job_num = #{operatorJobNum,jdbcType=VARCHAR},
      operator_mobile_num = #{operatorMobileNum,jdbcType=VARCHAR},
      brush_time = #{brushTime,jdbcType=TIMESTAMP},
      agent_dock_name = #{agentDockName,jdbcType=VARCHAR},
      agent_wechat = #{agentWechat,jdbcType=VARCHAR},
      agent_dock_mobile = #{agentDockMobile,jdbcType=VARCHAR},
      last_edit_time = #{lastEditTime,jdbcType=TIMESTAMP},
      import_remark = #{importRemark,jdbcType=VARCHAR},
      complete_status = #{completeStatus,jdbcType=INTEGER},
      device_version = #{deviceVersion,jdbcType=VARCHAR},
      last_heart_datetime = #{lastHeartDatetime,jdbcType=TIMESTAMP},
      model_shop_flag = #{modelShopFlag,jdbcType=INTEGER}
    where device_id = #{deviceId,jdbcType=VARCHAR}
  </update>
</mapper>